* {
	margin: 0;
	padding: 0;
}
.tab-wrapper {
	width: 480px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	margin: 20px;
}
.tab-nav {
	zoom: 1;
}
.tab-nav:after {
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}
.tab-nav li {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	float: left;
	border-bottom: 1px #dddedd solid;
	list-style: none;
	line-height: 48px;
	height: 48px;
	border-radius: 5px 5px 0 0;
	min-width: 120px;
}
.tab-nav li.active {
	border-left: 1px #dddedd solid;
	border-top: 1px #dddedd solid;
	border-right: 1px #dddedd solid;
	border-bottom: none;
	font-weight: 500;
	color: #6f8ebc;
}
.tab-nav li.active a {
	color: #6f8ebc;
}
.tab-nav li a {
	text-decoration: none;
	font-size: 14px;
	color: #879468;
	text-align: center;
	display: block;
	margin: 0 auto;
}
.cont-wrapper {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	position: relative;
	height: 420px;
	border-left: 1px #dddedd solid;
	border-right: 1px #dddedd solid;
	border-bottom: 1px #dddedd solid;
	/*padding: 15px;*/
}
.tab-content {
	position: absolute;
	height: 420px;
	line-height: 1.8e;
	display: none;
	word-wrap:break-word;
	font-size: 12px;
	color: #585c57;
	margin: 20px;
}
.tab-content img {
	padding: 20px;
	margin: 0 auto;
	display: block;
}
.current {
	display: block;
}
